#wrapper {
    width: 100%;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
    width: 200px;
    min-width: 0;
}

.navbar-top-links .dropdown-user {
    right: 0;
    /*left: auto;*/
    margin-left: 40px;
    width: 310px;
    min-width: 0;
}


/*.dropDownLabel {
	margin: 5px; 
	/*margin-left: 10px
}*/

